#comments{
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: strong; 
}
.comment-body{
    position: relative;
    padding: 1.5rem; 
    margin-bottom: 1.0rem; 
    background-color: #ffffff; 
    font-size: 1rem;
    line-height: 1.5rem; 
    border-radius: 0.5rem; 
    border-width: 1px; 
}

.comment-body p{
    color: #6B7280;
    margin-top: 1rem; 
    font-size: 1.1rem;
}
.comment-body .comment-author{
    display: flex; 
  align-items: center; 
}

.comment-body .comment-author img{
    margin-right: 0.5rem; 
    width: 2.0rem; 
    height: 2.0rem; 
    border-radius: 9999px; 
}
.comment-body .comment-author .fn{
    display: inline-flex; 
    margin-right: 0.20rem; 
    font-size: 1rem;
    line-height: 1.25rem; 
    align-items: center; 
}
.comment-body .comment-author .says{
    display: none;
}
.comment-body .reply{
 display: flex;
 justify-content: flex-end;
 display: flex; 
margin-top: 1rem; 
margin-left: 1rem; 
align-items: center; 
}
.comment-meta{
    color: #4B5563; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    
    
}
.comment-meta .comment-edit-link{
    display: none;
}

.comment-respond .comment-form-comment{
    display: flex; 
margin-bottom: 1.5rem; 
justify-content: space-between; 
align-items: center; 
}
.comment-respond .comment-form-comment label{
    color: #111827; 
font-size: 1.125rem;
line-height: 1.75rem; 
font-weight: 700;
padding: 5px; 
}
.comment-respond .comment-form-comment label span{
    display: none;
}

.comment-respond .comment-form-comment textarea{
    padding-left: 0;
    padding-right: 0; 
    color: #111827; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    width: 100%; 
    border-width: 0;   
}
.comment-respond .comment-form-author {
    display: flex;
    width: 100%;
    font-family: inherit;
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    background: none;
    border-radius: 0;
    color: black;
    margin:1em 0em;

}
.comment-respond .comment-form-author input{
    margin-left: 1rem;
    
    border-radius: 0.5rem; 
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem; 
    border-width: 1px; 
    border-color: #E5E7EB; 
    height: 35px;
    width: 40%;
    padding: 0rem 1rem;

}
.comment-respond .comment-form-email{
    display: flex;
    width: 100%;
    font-family: inherit;
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    background: none;
    border-radius: 0;
    color: black;
    margin:1em 0em;


}
.comment-respond .comment-form-email input{
    margin-left: 1rem;
    
    border-radius: 0.5rem; 
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem; 
    border-width: 1px; 
    border-color: #E5E7EB; 
    height: 35px;
    width: 40%;
    padding: 0rem 1rem;

}
 .comment-respond .comment-reply-title{
    display:none;
} 

.comment-respond .logged-in-as{
    display: none;
}
 .comment-respond .comment-notes{
    display: none;
} 

.comment-respond .comment-form-url{
    display: none;
}
.comment-respond .comment-form-cookies-consent{
    display: none;
}   

.comment-form p.form-submit{
    display: inline;
}
.comment-form p.form-submit input{
    display: inline; 
    padding-top: 0.625rem;
    padding-bottom: 0.625rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    color: #ffffff; 
    font-size: 0.75rem;
    line-height: 1rem; 
    font-weight: 500; 
    text-align: center; 
    align-items: center; 
    border-radius: 0.5rem; 
    background: #4767C9;
    margin-bottom:4em;
    cursor: pointer;


}
.comment-form:hover p.form-submit:hover input:hover{
    background: #4767F9;
}
.parent .comment-body{
    margin-bottom: 0.1rem;
}
.parent .children{
   display: flex;
   flex-direction: column; 
   align-items: flex-end;
   width: 100%;

}
.parent .children .comment {
    margin-bottom:0.2rem;
    font-size: 1rem;
    line-height: 1.5rem; 
    width: 80%;
}

#respond{
    margin-top: 0.5rem;
}
.reply{
    color: #4767F9;
}

#cancel-comment-reply-link{
    display: inline;
    color: red;
    float: right;
    padding-right: 1rem;
    padding-top: 0.5rem;
    line-height: 1rem; 
    font-weight: 500; 
    font-size: 1.2rem;
    
}
#cancel-comment-reply-link:hover{
    color: #ff4747
}
